PORT="Port"
MONGO_URI="Your MongoDB URI"
Mode="development"
JWT_SECRET="Your JWT Secret"
CLOUDINARY_CLOUD_NAME="Your Cloud name"
CLOUDINARY_API_KEY="Your Key"
CLOUDINARY_API_SECRET="Your Secret"
CLIENT_URL="Your Client URL"